@charset "utf-8";
/* CSS Document */

.html {
	scroll-behavior: smooth;
}

body, html {
	overflow-x: hidden;
}
    
body {
	box-sizing:border-box;
	padding:0x;
	margin: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
	
}

.Gallery .container{
	width: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width:1000px;
    margin: auto;
	align-content: center;
	justify-content: center;
}
  
.Gallery img {
	width: 1000px;
	height: 800px;
	object-fit: cover;
	border-radius: 20px;
	
}


.Gallery a:hover {
	border:1px solid #9e7071;
	border-radius: 20px;
}

@media (max-width:300px) {
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}00